@if (cj() != undefined) {
  <table class="conj-table">
    <thead>
    <th>Form</th>
    <th>Singular</th>
    <th>Plural</th>
    </thead>
    <tbody>
    <tr>
      <td>1st</td><td>Io {{cj()!["s1"]}}</td><td>Noi {{cj()!["p1"]}}</td>
    </tr>
    <tr>
      <td>2nd</td><td>Tu {{cj()!["s2"]}}</td><td>Voi {{cj()!["p2"]}}</td>
    </tr>
    <tr>
      <td>3rd</td><td>Lui/Lei {{cj()!["s3"]}}</td><td>Lei {{cj()!["p3"]}}</td>
    </tr>
    </tbody>
  </table>
}
@if (translations()) {
  <div class="translations-list mt-2">
    @for(translation of translations(); track translation) {
      <div class="translation text-xs mb-1" [innerHTML]="translation"></div>
    }
  </div>
}
