<p-menu #learnMenu [model]="menuItems" [popup]="true" class="m-0 p-0"></p-menu>
<div class="top-menu flex align-items-center">
  <p-button label="Start here" (click)="learnMenu.toggle($event)" class="mr-2"></p-button>
  <p-button label="Get another {{batchSize | async}} words" (click)="reloadWords()" icon="pi pi-sync"></p-button>
  <p-selectButton [options]="wordsSelectionOptions" [(ngModel)]="topCount" class="ml-auto m-2" (ngModelChange)="setTopCount($event)"></p-selectButton>
  <div style="width:300px" class="m-2">
    <p-inputGroup>
      <p-inputGroupAddon><i class="pi pi-search"></i></p-inputGroupAddon>
      <input #searchInput pInputText placeholder="Search (min. 3 letters)"
             [(ngModel)]="searchWord"
             (ngModelChange)="onSearchTextChanged(searchWordPanel, searchInput)"
             (focusin)="onSearchFocus(searchWordPanel, searchInput)"
      >
      <p-overlayPanel #searchWordPanel [focusOnShow]="false">
        <div style="max-height: 300px; width: 200px; overflow-y: auto;">
          <table>
            <tr *ngFor="let w of searchWords()">
              <td class="found-word"><a (click)="openWordInfoDialog(w)">{{w}}</a></td>
            </tr>
          </table>
        </div>
      </p-overlayPanel>
    </p-inputGroup>
  </div>
</div>
<router-outlet />
